/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body,div,p,ul,li,ol{
  margin:0;
  padding:0;
}
.lt{
  float:left;
}
.rt{
  float:right;
}
ul,ol{
  list-style-type:none;
}
a{
  text-decoration:none;
}
